 <style>
    .orange { color: orange; }
    .yellow { color: yellow; }
    .green { color: green; }
    .blue { color: red; }
  </style>
  <i class="fa fa-circle" style="font-size:20px;color:orange"></i> Not enough waiters - 1
  <br>
  <i class="fa fa-circle" style="font-size:20px;color:yellow"></i> Not enough waiters - 2
  <br>
  <i class="fa fa-circle" style="font-size:20px;color:green"></i> Enough waiters - 3
  <br>
  <i class="fa fa-circle" style="font-size:20px;color:red"></i> To many waiters - 4 and above
  <h3>Schedule</h3>
  <p class="greeni" style="color: green;">{{messages.clear}}</p>
  <table class="table">
<tbody>
  {{#each scheduleData}}
  <tr>
    <td class="highlighted" style="background-color: {{#if this.length}}{{lookup ../coloredCounts @key}}{{/if}};">{{@key}}</td>
    <td class="highlighted" style="background-color: {{#if this.length}}{{lookup ../coloredCounts @key}}{{/if}};">
      {{#each this}}
      {{this}}
      {{/each}}
    </td>
  </tr>
  {{/each}}
</tbody>

<form action="/reset" method="POST">
  <button class="btn btn-primary" type="submit">Clear Schedule</button>
</form>
<script>
   setTimeout(function () { document.querySelector('.greeni').innerHTML = ''; },
  3000);
</script>
 







