<div class="container">
    <p>You are logged in as <span>{{this.waiter_username}}</span>, please select your availability</p>
    <p class="green">{{messages.success}}</p>
    <p class="red">{{messages.error}}</p>
    <form action="/waiter/{{this.waiter_username}}" method="POST">
        <div class="form-row">
            {{#each days}}
            <div class="form-check form-check-inline">
                <input
                type="checkbox"
                class="form-check-input"
                name="check_days"
                value="{{this.day_of_the_week}}"
                {{#if this.checked}} checked {{/if}}
                />
                <label class="form-check-label">{{this.day_of_the_week}}</label>
            </div>
            {{/each}}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
  setTimeout(function () { document.querySelector('.red').innerHTML = ''; },
  3000);
   setTimeout(function () { document.querySelector('.green').innerHTML = ''; },
  3000);
</script> 



